:root {
  --main-color: #777;
  --light-color: #888;
  --dark-color: #666;
  --deep-dark-color: #555;
  --highlight-color: #999;
  --strong-highlight-color: #aaa;
  --shadow-color: #333;
  --background-color: #222;
  --sapTextColor: #fff !important;
  --sapShell_Background : rgb(49, 49, 42) !important;
  --_ui5_fcl_decoration_top: null !important;
  --_ui5_fcl_decoration_bottom: null !important;
  --_ui5_wiz_tab_icon_color: #aaa !important;
  --sapContent_IconColor: #aaa !important;
}


ui5-li, .card-content{
  background-color: rgb(26, 26, 26, 0.6) !important;
  border: 1px solid var(--strong-highlight-color);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--shadow-color);
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

ui5-list, .form{
  background-color:  !important;
}


.ui5-li-title *{
  margin: 10px !important;
  padding: 10px !important;
 }

ui5-avatar {
  border-radius: 10px;
  max-width: 30px;
  max-height: 30px;
}

.divsBacckground{
  /* background-color: var(--strong-highlight-color) !important; */
  border: 1px solid var(--light-color);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--shadow-color);
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.appBackground{
  background-color: #111;
}

.itemName{
  font-size: 20px;
  margin: 5px;
  padding:5px;
  color: rgb(218, 245, 248);
  text-shadow: 0 0 5px #032731;
  font-family:fantasy
}

.itemPropDescriptor{
  font-family:fantasy;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px #414207;
  padding: 5px;
}

.itemPropName{
  font-family:fantasy;
  color: rgb(218, 245, 248);
  text-shadow: 0 0 2px #032029;
  padding: 5px;
  margin:5px;
}

.itemNameHistoryItem{
  font-size: 20px;
  margin: 5px;
  padding:5px;
  color: rgb(252, 250, 233);
  text-shadow: 0 0 5px #03182c;
  text-transform: capitalize;
  font-family:fantasy
}

.drawnItem{
  text-transform: capitalize;
}

.titleDescriptor{
  font-family:fantasy;
  color: rgb(235, 237, 243);
  text-shadow: 0px 0px 2px #020d26;
  padding:9px;
  margin:9px;
}

.actionButton{
  background-color: rgba(12, 225, 58, 0.4);
  border-radius: 10px;
  border: 1px solid var(--light-color);
  cursor: pointer;
  font-size: 30px;
  font-family: "Georgia",serif;
  min-height: 60px;
  margin: 10px;
  padding-top: 1px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  width: 98%;
}

.actionButton:disabled{
  background-color: var(--dark-color);
  text-shadow: 1px 1px 2px var(--strong-highlight-color);
  color: var(--main-color);
  cursor: default;
}
 .buttonRemove{
  box-shadow: 0 2px 2px var(--shadow-color);
  color: #faf1f1;
  text-shadow: 0 0 5px #ff1100;
}

.buttonRemove:active{
  background-color: var(--highlight-color);
  border-style: inset;
  text-shadow: 0 0 5px #fd4d0c;
}

.buttonRollDiece{
  box-shadow: 0 2px 2px var(--shadow-color);
  color: rgb(252, 250, 233);
  text-shadow: 0 0 5px #ffb908;
}

.buttonRollDiece:active{
  background-color: var(--highlight-color);
  border-style: inset;
  text-shadow: 0 0 5px #01d6e6;
}

.buttonText{
  font-family:fantasy
}

.slider {
  -webkit-appearance: none;  
  width: 100%; 
  height: 35px; 
  background: rgb(31, 28, 26);
  border: 1px solid var(--strong-highlight-color);
  outline: none; 
  margin: 5px;
  box-shadow: 2px 2px 5px var(--shadow-color);
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 35px; 
  background: rgb(16, 151, 72); 
  border-radius: 3px;
  border: 1px solid rgb(221, 201, 196);
  box-shadow: 0px 0px 2px rgb(87, 15, 15);
  cursor: pointer; 
}




