:root {
  --main-color: #777;
  --light-color: #888;
  --dark-color: #666;
  --deep-dark-color: #555;
  --highlight-color: #999;
  --strong-highlight-color: #aaa;
  --shadow-color: #333;
  --background-color: #222;
  color: #fff;
}



/* body {
  background-color: #222;
  background-color: var(--background-color);
  display: flex-inline;
  font-family: "Georgia",serif;
} */

ui5-li, .card-content{
  
  background-color: var(--highlight-color) !important;
  border: 1px solid var(--light-color);
  border-radius: 10px;
  box-shadow: 0 2px 2px var(--shadow-color);
  flex-direction: column;
  margin: 4px;
  padding: 2px;
  text-align: center;
  
}

